.storybook-button {
  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-regular);
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: var(--line-height-regular);
  color: var(--color-button-text);
  border-radius: var(--border-radius-button);
}
.storybook-button--primary {
  text-decoration: var(--text-decoration-none);
}
.storybook-button--secondary {
  background-color: transparent !important;
  text-decoration: var(--text-decoration-underline);
  text-underline-offset: var(--size-bp-small-xx-small);
}
.storybook-button--small {
  padding: 0 var(--size-button-small);
  height: var(--size-button-small);
}
.storybook-button--large {
  padding: 0 var(--size-button-large);
  height: var(--size-button-large);
}
.storybook-button--color-scheme-one {
  background-color: var(--color-button-bg-scheme-four);
}
.storybook-button--color-scheme-two {
  background-color: var(--color-button-bg-scheme-two);
}
.storybook-button--color-scheme-three {
  background-color: var(--color-button-bg-scheme-three);
}